a {
  color: inherit;
  text-decoration: none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-form {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    &-add {
      @include button-shared;
    }

    &-cart {
      @include button-shared;
    }
  }

  &-item {
    display: block;
    width: 320px;
    padding: 20px;
    text-align: center;
    border: ridge;

    &-delete {
      @include block-shared;
    }

    &-image {
      width: 240px;
      height: 320px;
    }

    &-title {
      @include block-shared;
      font-weight: bold;
      font-size: $primary-font;
    }

    &-price {
      font-weight: bold;
      font-size: $primary-font;
      color: $secondary-color;
    }

    &-cart {
      margin: 3px;
    }

    @media (max-width: $laptop) {
      width: 192px;
      height: 330px;

      &-image {
        width: 120px;
        height: 200px;
      }

      &-delete {
        font-size: 11px;
      }

      &-cart {
        font-size: 11px;
      }

      &-title {
        font-size: $secondary-font;
      }

      &-price {
        font-size: $secondary-font;
      }
    }
    @media (max-width: $mobile) {
      width: 120px;
      height: 270px;

      &-title {
        font-size: $min-font;
      }

      &-price {
        font-size: $min-font;
      }

      &-delete {
        font-size: $min-font;
      }

      &-cart {
        font-size: $min-font;
        margin: auto;
      }
    }
  }
}
