@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/roboto.ttf") format("ttf");
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }